body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

header {
    top: 0;
    left: 0;
    background: rbg(86, 194, 240);
    position: fixed;
    height: auto;
    width: 100%;
    z-index: 100;
}

textarea {
    width: 100%;
    height: 275px;
}

#submit:hover {
    background-color: #4DADD6;
    border-color: #4DADD6;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: list-item;
    /* only necessary if the li is inheriting display: inline*/
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    float: left;
    margin-right: 1em;
    margin-top: 1em;
}


/* optional to remove top most and bottom most borders */

li:first-child {
    border-top: none;
}

li:last-child {
    border-bottom: none;
}

li a {
    color: black;
}

a, a:hover {
    text-decoration: none;
}

a:hover{
    color: black;
}

.tweet {
    height: 170px;
    width: 250px;
    padding-: 10px;
    margin: 10px;
    float: left;
    border: 1px solid rgb(17, 39, 49);
    border-top: 4px solid rgb(17, 39, 49);
    border-bottom: 2px solid rgb(17, 39, 49);
    box-shadow: 1px 1px 3px #888;
    flex-wrap: wrap;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    margin-bottom: 20px;
}

.copy {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    margin: 2px;
    font-size: 0.8em;
    text-align: center;
    color: grey;
    margin: 1em;
}

.copy:hover {
    color: black;
}

footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 11px;
}

footer a {
    text-decoration: none;
}

.wrapper {
    max-width: 950px;
}
